@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 13px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-lg
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

@layer components {
  .actives {
    @apply before:content-[''] before:absolute before:w-0 before:bottom-0 before:bg-blue-500 before:h-[2px] before:transition-all before:-skew-x-[45deg] py-1;
  }
}
.shadow-custom {
  box-shadow: 0 0 100px blue;
}
